<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Day:</b>
  <%= @person.day %>
</p>

<p>
  <b>Photo:</b>
  <%= @person.photo %>
</p>

<p>
  <b>Calendar:</b>
  <%= @person.calendar_id %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
